<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/411a7afa2f.js" crossorigin="anonymous"></script>
    <title>Mongoose Flights</title>
  </head>
  <nav>
    <i class="fa-solid fa-plane-departure"></i>
    <a href="/">Home</a>
    <a href="/flights/new">New Flights</a>
    <a href="/flights">All Flights</a>
  </nav>