<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/411a7afa2f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 class="main-title"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="home-start">
      <a class="click-start"href="/flights">Click to view Flights</a>
    </div>
    <nav>
      <i class="fa-solid fa-plane-departure"></i>
      <a href="/">Home</a>
      <a href="/flights/new">New Flights</a>
      <a href="/flights">All Flights</a>
    </nav>
  </body>
</html>
