* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 30px;
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.251), rgba(170, 170, 170, 0.703), rgba(0, 0, 0, 0.774)),url("https://wallpapers.com/images/high/hd-blue-sky-wallpaper-full-hd-picture-mvehfqz6w2ges2dj.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105vh;
  width: 100vw;
}

nav {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(0deg, rgb(0,0,0), rgb(150,150,150));
  opacity: 80%;
}

nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  color: orange;
}

nav a:hover {
  background: linear-gradient(0deg, rgb(110, 110, 110), rgb(255, 255, 255));
  color: rgb(255, 255, 255);
}

.fa-plane-departure {
  color: orange;
  font-size: 35px;
  float: left;
  margin-top: .4rem;
  margin-left: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  margin-top: 8rem;
  padding: 5rem;
}

.main-title {
  font-size: 5rem;
  margin-top: 20rem;
  background: linear-gradient(340deg, rgb(171, 154, 255), rgb(195, 255, 0), rgb(8, 0, 255), rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

tr td{
  padding: 20px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.542), rgba(255, 255, 255, 0.74));
}

tr th {
  text-decoration: underline;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.542), rgba(255, 255, 255, 0.74));
}

.new-flight {
  border: 2px solid white;
  width: 50%;
  transform: translate(50%);
  text-align: left;
  padding: 2rem;
  line-height: 3rem;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.251), rgba(146, 146, 146, 0.26), rgba(255, 255, 255, 0.302));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.195);
  margin-top: 3rem;
  font-size: 18px;
}

.btn, #add-review-form input[type="submit"] {
  text-align: center;
  transform: translate(125%, 40%);
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.071);
}

.btn:hover, #add-review-form input[type="submit"]:hover {
  background: gray;
  color: white;
}

p {
  font-style: italic;
}

.list {
  margin-bottom: 3rem;
}

#show-page {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  transform: translate(32%, 0%);
  border: 2px solid white;
  line-height: 2.5rem;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.251), rgba(146, 146, 146, 0.26), rgba(255, 255, 255, 0.302));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.195);
  font-size: 18px;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  border: 2px solid white;
  width: 50%;
  transform: translate(50%, -60%);
  padding: 2rem;
  line-height: 3rem;
  background: linear-gradient(200deg, rgba(255, 255, 255, 0.251), rgba(146, 146, 146, 0.26), rgba(255, 255, 255, 0.302));
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.195);
  margin-top: 3rem;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-review-form input[type="submit"] {
  transform: translate(0%, 0%);
}

.arrival {
  width: 60%;
  transform: translate(0%, -20%);
}

.move-up {
  transform: translate(0%, -60%);
}

.home-start {
  margin-top: 7rem;
}

.click-start {
  text-decoration: none;
  font-size: 2rem;
  height: 3rem;
  animation: colorloop 4s infinite;
}

@keyframes colorloop {
  0% {
    color: white;
    font-size: 1rem;
  }
  
  33% {
    color: blue;
    font-size: 1rem;
    margin-right: 0rem;
  }

  66% {
    color: rgb(195, 255, 0);
    font-size: 2rem;
  }
  
  100% {
    color: white;
    font-size: 1rem;
  }
}

.click-start:hover {
  animation: none;
  transform: scale(1.5);
}


.fa-plane-departure {
  position: absolute;
  left: 0;
  animation: flightloop 15s infinite;
}


@keyframes flightloop {
  0% {
    font-size: 100%;
    margin-right: 50rem;
    opacity: 0%;
  }
  
  25% {
    font-size: 150%;
    margin-right: 25rem;
    opacity: 75%
  }

  50% {
    font-size: 220%;
    margin-right: 0rem;
    opacity: 100%;
  }
  
  65% {
    font-size: 270%;
    margin-left: 78rem;
    opacity: 75%;
  }

  100% {
    font-size: 280%;
    margin-left: 250rem;
    opacity: 0%;
  }
}

/* @keyframes flightloop {
  0% {
    font-size: 280%;
  }
  
  25% {
    font-size: 250%;
  }

  50% {
    font-size: 180%;
    opacity: 75%;
  }
  
  75% {
    font-size: 150%;
    margin-left: 50rem;
    opacity: 50%;
  }

  100% {
    font-size: 100%;
    margin-left: 60rem;
    opacity: 0%;
  }
} */